<p id="notice"><%= notice %></p>

<p>
  <strong>Result:</strong>
  <%= @critical.result %>
</p>

<p>
  <strong>Karuta:</strong>
  <%= @critical.karuta %>
</p>

<p>
  <strong>Field:</strong>
  <%= @critical.field %>
</p>

<%= link_to 'Edit', edit_critical_path(@critical) %> |
<%= link_to 'Back', criticals_path %>
