<%= form_with(model: grades_tournament, local: true) do |form| %>
  <% if grades_tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grades_tournament.errors.count, "error") %> prohibited this grades_tournament from being saved:</h2>

      <ul>
      <% grades_tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grades_id %>
    <%= form.text_field :grades_id %>
  </div>

  <div class="field">
    <%= form.label :tournament_id %>
    <%= form.text_field :tournament_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
