<%= form_with(model: otetsuki, local: true) do |form| %>
  <% if otetsuki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(otetsuki.errors.count, "error") %> prohibited this otetsuki from being saved:</h2>

      <ul>
      <% otetsuki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :result_id %>
    <%= form.number_field :result_id %>
  </div>

  <div class="field">
    <%= form.label :karuta_id %>
    <%= form.number_field :karuta_id %>
  </div>

  <div class="field">
    <%= form.label :field_id %>
    <%= form.number_field :field_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
