<p id="notice"><%= notice %></p>

<p>
  <strong>Result:</strong>
  <%= @otetsuki.result %>
</p>

<p>
  <strong>Karuta:</strong>
  <%= @otetsuki.karuta %>
</p>

<p>
  <strong>Field:</strong>
  <%= @otetsuki.field %>
</p>

<%= link_to 'Edit', edit_otetsuki_path(@otetsuki) %> |
<%= link_to 'Back', otetsukis_path %>
