<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :host %>
    <%= form.text_field :host %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label :secondPlace %>
    <%= form.text_field :secondPlace %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.text_field :district %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.text_field :grade %>
  </div>

  <div class="search-grade">
    <p>級</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">A</span>
      </label>
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">B</span>
      </label>
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">C</span>
      </label>
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">D</span>
      </label>
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">E</span>
      </label>
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">F</span>
      </label>
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">G</span>
      </label>
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">小学生</span>
      </label>
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">中学生</span>
      </label>
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">高校生</span>
      </label>
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">大学生</span>
      </label>
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">シニア</span>
      </label>
      <label>
        <input type="checkbox" class="area-input">
        <span class="area-parts">ねんりん</span>
      </label>
    </div>
  </div>

  <div class="field">
    <%= form.label :entryFee %>
    <%= form.text_field :entryFee %>
  </div>

  <div class="field">
    <%= form.label :applicationPeriod %>
    <%= form.date_select :applicationPeriod %>
  </div>

  <div class="field">
    <%= form.label :capacity %>
    <%= form.text_field :capacity %>
  </div>

  <div class="field">
    <%= form.label :access %>
    <%= form.text_field :access %>
  </div>

  <div class="field">
    <%= form.label :others %>
    <%= form.text_area :others %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
