<p id="notice"><%= notice %></p>

<div class="tournament-contents contents">
  <div class="left-column column">
    <div class="search">
      <div class="refine-search">絞り込み検索</div>
      <div class="search-grade">
        <p>級</p>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">A</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">B</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">C</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">D</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">E</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">F</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">G</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">小学生</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">中学生</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">高校生</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">大学生</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">シニア</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">ねんりん</span>
          </label>
        </div>
      </div>
      <div class="search-area">
        <p>開催地域</p>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">東北</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">関東</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">中部</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">北陸</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">関西</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">中国</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">四国</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">九州</span>
          </label>
          <label>
            <input type="checkbox" class="area-input">
            <span class="area-parts">沖縄・北海道</span>
          </label>
        </div>
      </div>
      <div class="search-keyword">
        <p>キーワード検索</p>
        <input type="text" placeholder="例：名人戦" class="search-box">
      </div>
      <div class="search-btn btn">検索</div>
    </div>
  </div>
  <div class="tournament-list-main main">
    <div class="tournament-list-size">
      <div class="tournament-new">
        <%= link_to '新規登録', new_tournament_path %>
      </div>
      <div class="search-year">
        <div class="pre"><</div>
        <div class="year">2018</div>
        <div class="pst">></div>
      </div>
      <div class="month-list">
        <div>1月</div>
        <div>2月</div>
        <div>3月</div>
        <div>4月</div>
        <div>5月</div>
        <div>6月</div>
        <div>7月</div>
        <div>8月</div>
        <div>9月</div>
        <div>10月</div>
        <div>11月</div>
        <div class="active-m">12月</div>
      </div>
      <div class="containers">
      <% @tournaments.each do |tournament| %>
        <div class="container" id=<%=tournament.date.month%>>
          <div class="tournament-date">
            <%= tournament.date.month %>/<%= tournament.date.day %>
          </div>
          <div class="tournament-name">
            <%= link_to "第#{tournament.number}回#{tournament.name}", tournament, class: "tournament-link" %>
          </div>
          <div class="tournament-grades">級：
            <span id="grade-id1">A</span>
            <span id="grade-id2">B</span>
            <span id="grade-id3">C</span>
            <span id="grade-id4">D</span>
            <span id="grade-id5">E</span>
            <span id="grade-id6">F</span>
            <span id="grade-id7">G</span>
            <span id="grade-id8">小</span>
            <span id="grade-id9">中</span>
            <span id="grade-id10">高</span>
            <span id="grade-id11">大</span>
            <span id="grade-id12">シニア</span>
            <span id="grade-id13">ねんりん</span>
          </div>
          <div class="tournament-place">場所：<%= tournament.place %></div>
          <div class="tournament-result">
            <a href="" class="tournament-link">結果</a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="right-column column"></div>
</div>
