<p id="notice"><%= notice %></p>

<h1>大会予定・結果</h1>


<table>
  <tbody>
    <% @tournaments.each do |tournament| %>
    <tr>
      <td>
        <div class="container">
          <div class="date-name">
            <div class="date"><%= tournament.date.month %>/<%= tournament.date.day %></div>
            <div class="name"><%= link_to tournament.name, tournament %></div>
          </div>
          <div class="grade"><%= tournament.grade %></div>
          <div class="place"><%= tournament.place %></div>
        </div>
      </td>
      <td>結果</td>
    </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to '新規登録', new_tournament_path %>
