<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Host:</strong>
  <%= @tournament.host %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tournament.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @tournament.place %>
</p>

<p>
  <strong>Class:</strong>
  <%= @tournament.class %>
</p>

<p>
  <strong>Entryfee:</strong>
  <%= @tournament.entryFee %>
</p>

<p>
  <strong>Applicationperiod:</strong>
  <%= @tournament.applicationPeriod %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @tournament.capacity %>
</p>

<p>
  <strong>Access:</strong>
  <%= @tournament.access %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
