<p id="notice"><%= notice %></p>

<p>
  <strong>第</strong>
  <%= @tournament.number %>
  <strong>回</strong>
</p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Host:</strong>
  <%= @tournament.host %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tournament.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @tournament.place %>
</p>

<p>
  <strong>Access:</strong>
  <%= @tournament.secondPlace %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @tournament.grade %>
</p>

<p>
  <strong>Entryfee:</strong>
  <%= @tournament.entryFee %>
</p>

<p>
  <strong>Applicationperiod:</strong>
  <%= @tournament.applicationPeriod %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @tournament.capacity %>
</p>

<p>
  <strong>Access:</strong>
  <%= @tournament.access %>
</p>

<p>
  <strong>その他:</strong>
  <%= @tournament.others %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %>
<%= link_to '削除', @tournament, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', tournaments_path %>
