<header>
  <nav>
    <div class="header-title header-disp">
      <%= link_to 'かるたカレンダー', schedule_practices_path, class: "header-link" %>
    </div>
    <% if user_signed_in? %>
    <ul class="header-list">
      <li class="header-disp"><%= link_to '結果一覧', results_path, class: "header-link" %></li>
      <li class="header-disp"><%= link_to '大会情報', tournaments_path, class: "header-link" %></li>
      <li class="header-disp"><%= link_to 'プロフィール変更', edit_user_registration_path, class: "header-link" %></li>
      <li class="header-disp"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-link" %></li>
    </ul>
    <% else %>
    <ul class="header-list header-disp">
      <li class="header-disp"><%= link_to '結果入力', new_result_path, class: "header-link" %></li>
      <li class="header-disp"><%= link_to '結果一覧', results_path, class: "header-link" %></li>
      <li class="header-disp"><%= link_to '大会情報', tournaments_path, class: "header-link" %></li>
      <li class="header-disp"><%= link_to 'サインアップ', new_user_registration_path, class: "header-link" %></li>
      <li class="header-disp"><%= link_to 'ログイン', new_user_session_path, class: "header-link" %></li>
    </ul>
    <% end %>
  </nav>
</header>
