<p id="notice"><%= notice %></p>

<h1>Game Counts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_counts.each do |game_count| %>
      <tr>
        <td><%= game_count.name %></td>
        <td><%= link_to 'Show', game_count %></td>
        <td><%= link_to 'Edit', edit_game_count_path(game_count) %></td>
        <td><%= link_to 'Destroy', game_count, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Count', new_game_count_path %>
