<p id="notice"><%= notice %></p>

<h1>Karuta</h1>

<%= link_to '新規登録', new_karutum_path %>
<br>

<table>
  <thead>
    <tr>
      <th>番号</th>
      <th>和歌</th>
      <th>ひらがな</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @karuta.each do |karutum| %>
      <tr>
        <td><%= karutum.id %></td>
        <td><%= karutum.waka_kanji %></td>
        <td><%= karutum.waka %></td>
        <td><%= link_to 'Show', karutum %></td>
        <td><%= link_to '編集', edit_karutum_path(karutum) %></td>
        <td><%= link_to '削除', karutum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% @karuta.each do |karutum| %>
  <p>Karuta.create(:waka => '<%= karutum.waka %>', :waka_kanji => '<%= karutum.waka_kanji %>')</p>
<% end %>
