<p id="notice"><%= notice %></p>

<h1>Avoidances</h1>

<table>
  <thead>
    <tr>
      <th>Result</th>
      <th>Karuta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avoidances.each do |avoidance| %>
      <tr>
        <td><%= avoidance.result_id %></td>
        <td><%= avoidance.karuta_id %></td>
        <td><%= link_to 'Show', avoidance %></td>
        <td><%= link_to 'Edit', edit_avoidance_path(avoidance) %></td>
        <td><%= link_to 'Destroy', avoidance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avoidance', new_avoidance_path %>
